

<div class = main >
  <div class = center >
    <div class = left-bar >
      <h1>TIMECARD</h1>
      <ul>
        <li class = li1><%= link_to "社員一覧" %></li>
      </ul>
    </div>

    <div class = right-main >
      <div class = company >〇〇会社</div>
      <%= render partial: "search" %>

    </div>
  </div>
</div>