/* main */

.main {
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.top-page {
  display: flex;
  height: 100%;
  width: 100%;
}

.left-bar {
  background-color: skyblue;
  height: 100%;
  width: calc(100% - 70%);
  text-align: center;
  display: block;
}

ul {
  list-style: none;
  font-size: 20px;
}

.li1 {
padding-top: 30px;
}

.li2 {
  padding-top: 30px;
}


.devise {
background-color: skyblue;
height: 100%;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
}

.no-sign-in {
  background-color: lightgreen;
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: large;
}

.right-main {
  background-color: beige;
  height: 100%;
  width: calc(100% - 30%);
  display: block;
}

.buttons {
  background-color: bisque;
  height: calc(100% - 60% - 100px);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.clock {
  height: calc(100% - 40%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-work {
  width: 300px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #68779a;
  background: #cbe8fa;
  cursor: pointer;
  font-size: large;
}

.end-work {
  width: 300px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #68779a;
  background: #cbe8fa;
  cursor: pointer;
  font-size: large;
}

.logout {
padding: 30px;
}

.app-name {
  background-color: blanchedalmond;
  height: 100px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.search_form {
  background-color: whitesmoke;
  height: calc(100% - 100px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}