

.form {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.make {
  background-color: aqua;
  height: 500px;
  width: 600px;
  text-align: center;
}

.field {
padding: 10px;

}